.navigation{
    display: flex;
    justify-content: center;
}

:root {
    --very-dark-blue: #0a0a23;
    --white: #ffffff;
    --yellow: #f1be32;
    --golden-yellow: #feac32;
  }

.rules-container {
    padding: 10px 0;
    margin: auto;
    border-radius: 15px;
    border: 5px solid var(--yellow);
    background-color: var(--white);
    color: var(--very-dark-blue);
  }

  .rules-container ul {
    list-style-type: none;
  }
  
  .rules-container p {
    margin: 10px 0;
  }
  
  @media (min-width: 760px) {
    .rules-container {
      width: 60%;
    }
  }

summary, ul{
    text-align: center;
    list-style-position: inside;
}

.score-container{
    text-align: center;
    padding-top: 10px;
}

h2{
    display: flex;
    justify-content: center;
}

.options-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 52px;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

img{
    height: 200px;  /* Set your desired width */
    width: 200px;
}

p{
    text-align: center;
}